
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

p {
    margin-bottom: .3rem;
}

html, body {
    height: 100%;
    overflow: auto;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
    height: auto;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    background-color: #d4d8d7;
    color: #3B3A3B;
    position: relative;
}

ul[class],
ol[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.header, .footer {
    padding-right: 350px;
    position: relative;
}

.main .section {
    padding-right: 330px;
}

.header {
    position: relative;
    background-color: #d4d8d7;
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
    margin: 1.5rem 0 3rem;
}

.section {
    margin-bottom: 2rem;
    position: relative;
}

.sidebar {
    padding-top: 40%;
    background-color: #2A2A2B;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    transition: width .5s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 1;
    box-shadow: -2px 0px 15px 5px rgba(0, 0, 0, .2);
}

html.active .burger-line {
    transform: translateX(-30px);
    background: transparent;
}

html.active .burger-line:before {
    transform: rotate(45deg) translate(15px, -15px);
}

html.active .burger-line:after {
    transform: rotate(-45deg) translate(15px, 15px);
}

html.active {
    overflow-y: hidden;
}

html.active body {
    overflow-y: scroll;
}

.burger-line, .burger-line:before, .burger-line:after {
    height: 2px;
    background-color: #616161;
    width: 30px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    display: inline-block;
}

.burger-line:before, .burger-line:after {
    position: absolute;
    content: '';
}

.burger-line:before {
    transform: translateY(-10px);
}

.burger-line:after {
    transform: translateY(10px);
}


.burger {
    top: 3rem;
    display: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: 25px;
    cursor: pointer;
    width: 30px;
    position: absolute;
    height: 30px;
    pointer-events: auto;
    transition: all .5s ease;
    align-items: center;
    justify-content: center;
}

.heading-h3 {
    font-weight: 500;
}

.heading-h1 {
    font-size: 3rem;
    line-height: 1;
}

.page-wrapper {
    max-width: 1140px;
    padding: 3rem 3rem 0;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .2);
}

.page-wrapper:after {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    border: 2px solid #000000;
    z-index: 3;
    pointer-events: none;
}

.picture-wrapper {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 25px solid #2A2A2B;
    overflow: hidden;
    z-index: 3;
    position: relative;
    background-color: #2A2A2B;
    box-shadow: 0 0px 25px 5px rgba(0, 0, 0, .2);
}

.heading-wrapper {
    background-color: #F09518;
    color: #ffffff;
    padding: 2rem 1rem 2rem 8rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 300px;
    right: -3rem;
    z-index: 2;
    text-transform: uppercase;
    transition: transform .5s ease;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .2);
}

.information {
    text-indent: 2.5rem;
    margin-bottom: 2rem;
}

.subheader {
    background-color: #F09518;
    text-indent: 50%;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    margin-left: -1.5rem;
}

html.active .sidebar {
    width: 350px;
    overflow-y: auto;
}

html.active .overlay {
    display: block;
}

.sidebar-wrapper {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 4;
    position: relative;
    height: 100%;
}

.sidebar-wrapper.visible {
    display: flex;
}

.nav__link {
    transition: color .5s ease;
}

.nav__link:hover {
    color: #F09518;
}

.description-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem;
}

.description-list__wrapper {
    -webkit-box-flex: 4;
    -ms-flex: 4 1 0px;
    flex: 4 1 0;
    font-weight: 700;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.description-list__description {
    -webkit-box-flex: 7;
    -ms-flex: 7 1 0px;
    flex: 7 1 0;
}

.description-list__h4, .time {
    margin-bottom: .3rem;
    display: block;
}

.description-list__link, .information__link {
    color: #3B3A3B;
    font-weight: 600;
    position: relative;
    z-index: 3;
}

.description-list__link_graduation, .information__link_primary {
    color: #F09518;
}

.description-company__location {
    font-style: italic;
    font-weight: 500;
}

.acquired-skills {
    margin-bottom: .3rem;
}

.acquired-skills__item {
    position: relative;
    padding-left: 40px;
}

.acquired-skills__item:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 20px;
    width: 7px;
    height: 15px;
    border: solid #F09518;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.aside-list__svg {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.envelope {
    width: 35px;
    left: 2px;
}

.aside-list__svg path {
    fill: #F09518;
}

.phone {
    width: 32px;
    left: 5px;
}

.aside-list__item {
    position: relative;
    padding-left: 50px;
    margin-bottom: 1rem;
}

.aside-list__h4 {
    text-transform: uppercase;
}

.aside-list__label {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .3rem;
}

.aside-list__link {
    color: #ffffff;
    text-decoration: none;
}

.aside-heading {
    text-transform: uppercase;
    border: 2px solid #F0953B;
    padding: .5rem 0;
    margin-bottom: 2.5rem;
    font-weight: 500;
    width: 250px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.aside-list__item_progress {
    padding-left: 0;
}

progress {
    border-radius: 0;
    border: 2px solid #FF9933;
    height: 1.3rem;
    max-width: 250px;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: #FF9933;
}

progress::-moz-progress-bar {
    background-color: #FF9933;
}

.social-list {
    list-style: none;
    display: block;
    margin-top: auto;
    position: relative;

}

.social-list:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -2rem;
    right: -2rem;
    height: 4px;
    background-color: #ffffff;
}

.social-list__item {
    padding: 15px 5px;
    display: inline-block;
}

.social-list__svg {
    width: 30px;
    height: 30px;
}

.social-list__svg path {
    fill: #ffffff;
}

.social-list__svg.linkedin path:last-child {
    fill: #2A2A2B;
}

.s-contact, .s-skills, .s-social {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.s-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.s-social {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
    margin-top: 4rem;
}

.footer {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #F09518;
    margin-left: -3rem;
    padding-left: 3rem;
    text-align: center;
    position: relative;
}

.footer__link {
    color: inherit;
}

.rs-school {
    width: 50px;
    height: 20px;
}

.address {
    text-align: left;
    position: relative;
    z-index: 3;
    font-size: 14px;
}

.rs-link {
    float: right;
}

.time {
    font-weight: 500;
}

.overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
    display: none;
    cursor: pointer;
    transform: translateZ(0);
    -webkit-transform: translateZ(0)
}

.code {
    width: 100%;
}

.code-wrapper {
    display: flex;
}

.technologies__paragraph {
    margin-bottom: .5rem;
    font-weight: 600;
}

.technologies__item {
    background-color: #F09518;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #ffffff;
}

@media (max-width: 1140px) {
    .burger {
        display: flex;
    }

    .sidebar-wrapper {
        display: none;
    }

    .sidebar {
        width: 80px;
        z-index: 110;
        position: fixed;
        padding-top: 150px;
    }

    .main .section, .footer {
        padding-right: 60px;
    }

    .header {
        padding: 2rem 60px 2rem 2rem;
        border-radius: 0;
        margin-top: 0;
    }

    .heading-wrapper {
        position: static;
        transform: none;
        padding: 2rem;
        text-align: center;
    }

    .picture-wrapper {
        margin: auto auto 2rem;
    }

    .social-list {
        margin-bottom: 3rem;
    }
}

@media (max-width: 768px) {
    .subheader {
        text-indent: initial;
        text-align: center;
        margin-left: auto;
    }

    html.active .sidebar {
        width: 320px;
    }

    .aside-heading {
        width: 200px;
    }

    progress {
        max-width: 200px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 10px;
    }

    .description-list {
        display: block;
    }

    .header {
        padding: 0;
        margin-right: 30px;
    }

    .description-list__wrapper {

        margin-right: auto;
    }

    .cv-picture, .picture-wrapper {
        width: 100%;
        height: 100%;
    }

    .picture-wrapper {
        border-width: 15px;
    }

    .sidebar {
        width: 50px;
    }

    .burger {
        margin-right: 10px;
    }

    .main .section, .footer {
        padding-right: 30px;
    }
}

@media (min-width: 1141px) {
    .overlay {
        display: none !important;
    }

    html.active .sidebar {
        overflow-y: hidden !important;
    }

}
